.getsetplay {
  font-family: "Clash Display Variable";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 1300%;
  line-height: 110.12%;
  /* or 286px */

  letter-spacing: 0.03em;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-fill-color: white;

  opacity: 0.6;
  transform: rotate(0.21deg);

  &:nth-child(1) {
    background-image: linear-gradient(
      180deg,
      #ffffff 33.9%,
      rgba(255, 255, 255, 0) 58.64%
    );
  }

  &:nth-child(2) {
    background-image: linear-gradient(
      107.9deg,
      #ffffff 9.22%,
      rgba(255, 255, 255, 0) 29.05%
    );
  }

  &:last-child {
    background-image: linear-gradient(
      180deg,
      #ffffff 33.9%,
      rgba(255, 255, 255, 0) 58.64%
    );
  }
}

.main-page-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotate(0.21deg);

  &_right {
    height: 60%;
    align-items: self-start;
    padding-top: 10%;
    padding-left: 20%;

    span {
      &:first-child {
        font-family: "Roobert-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 110.12%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
      }

      &:last-child {
        padding-top: 1rem;
        font-family: "Clash Display Variable";
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 110.12%;
        /* or 50px */

        letter-spacing: 0.225em;
        text-transform: uppercase;

        background: linear-gradient(
          270.07deg,
          #f8fdfc 6.06%,
          #bac1ff 46.91%,
          #ffffff 96.31%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
  }

  &_center {
    height: 100%;
  }

  &_left {
    height: 30%;
    align-items: flex-start;
    padding-top: 100%;

    span {
      &:first-child {
        font-family: "Plus Jakarta Display";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 121.12%;
        /* or 17px */
        letter-spacing: 0.03em;
        color: rgba(209, 209, 209, 0.76);
      }
    }
  }
}
