.breadcrumb {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 110.12%;
  letter-spacing: 0.03em;
  fill: rgba(255, 255, 255, 0.5);
  transform: rotate(0.21deg);
  text-transform: uppercase;
  align-items: center;
}
