@import "src/shared/styles/mixins";

.card {
  @include bg-center-cover();
  background-size: contain;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  color: #ffffff;
  row-gap: 1rem;

  p {
    text-align: center;
    font-family: "Plus Jakarta Display";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 121.12%;
    /* or 19px */
    letter-spacing: 0.03em;
    color: #e7e7e785;
  }
}
